.container {
	display: flex;
	align-items: center;

	&:hover {
		path {
			fill: #8378ff;
		}
	}

	@media ( max-width: 480px ) {
		width: 100%;
	}
}

.aurora {
	max-width: 360px;
	margin: 0 auto;

	path {
		transition: all .15s ease-in-out;
	}

	@media ( min-width: 480px ) {
		width: 360px;
	}
}