@import "../../../styles/functions/rem.scss";
@import "../../../styles/mixins/break.scss";

.container {
	display: flex;
	align-items: center;

	&:hover {
		path {
			fill: #8378ff;
		}
	}

	@include break-xs {
		width: 100%;
	}
}

.aurora {
	max-width: rem( 360px );
	margin: 0 auto;

	path {
		transition: all .15s ease-in-out;
	}

	@include break-xs {
		width: rem( 360px );
	}
}