.image {
	display: block;
	--image-border-color: var( --color-light );
}

.hasBorder {
	box-shadow: 0 0 0 8px var( --image-border-color ), 0 0 0 9px var( --color-dark ); 
}

.card {
	padding-left: 0;
	padding-right: 0;
}