@import "../../../styles/functions/rem.scss";
@import "../../../styles/mixins/break.scss";

.container {
	background: #000;
	display: flex;
	align-items: center;
	transition: all .15s ease-in-out;

	&:hover {
		background: #1e8cbe;
	}
}

.rocketeer {
	margin: 0 auto;
	font-family: Menlo, "Courier New", monospace;
	font-size: 3px;
	line-height: 1.2;

	@include break-xs {
		font-size: 4px;
	}

	@include break-xxl {
		font-size: 7px;
	}
}