@import "../../styles/functions/rem.scss";

.card {
	padding: var( --unit-6 );
	display: block;
}

.circles {
	background-image: url("/images/circles.svg");
	background-size: rem( 2568px ) rem( 2568px );
	background-position: center center;
}

.compact {
	padding: rem( 18px ) var( --unit-3 );
}