.container {
	position: relative;
	background: var( --color-light);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-bottom: var( --unit-8 );
}

.x {
	&:before,
	&:after {
		content: "";
		height: 1px;
		width: 200vw;
		background: var( --color-dark );
		position: fixed;
		opacity: .14;
		top: 70%;
		left: -50%;
		transform: rotate(-45deg);
	}
	&::after {
		transform: rotate(45deg);
	}
}