@import "../../styles/functions/rem.scss";
@import "../../styles/mixins/break.scss";

.back {
	display: inline-block;
	font-family: var( --font-family_mono );
	margin: var( --unit-2 ) var( --unit-3 ) 0;
	font-size: var( --font-size-s );
	line-height: var( --unit-4 ); // for bigger tap target
	text-transform: uppercase;
	position: relative;
	
	@include break-xs {
		margin: rem( 30px ) var( --unit-6 ) 0;
	}

	a {
		&:hover,
		&:focus {
			text-decoration: none;
			background: var( --color-dark );
			box-shadow: rem( 4px ) 0 0 rem( 4px ) var( --color-dark ), rem( -4px ) 0 0 rem( 4px ) var( --color-dark );
			color: var( --color-light );
		}
	}
}