.back {
	display: inline-block;
	font-family: var( --font-family_mono );
	margin: 16px 24px 0;
	font-size: var( --font-size-s );
	line-height: 32px; // for bigger tap target
	text-transform: uppercase;
	position: relative;

	@media ( min-width: 480px ) {
		margin: 30px 48px 0;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}
}