.container {
	+ .container {
		margin-top: 80px;
	}
}

.list {
	font-size: var( --root-font-size );
	padding-left: 16px;
	list-style-type: circle;

	li {
		margin-bottom: 16px;
	}
}

.title {
	margin-top: 0;
	margin-bottom: 24px;
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

.minimal {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		margin-bottom: 1rem;
	}
}

.condensed {
	font-size: 12px;
	line-height: 2;

	li {
		margin-bottom: 0;
	}

	a {
		text-decoration: underline;
	}
}

.mono {
	font-family: var( --font-family_mono );	
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}