/* 
Breakpoint mixin - about as simple as it gets and mobile first
*/

$break-zoomed-in: 280px;
$break-xs: 480px;
$break-s: 600px;
$break-m: 782px;
$break-l: 960px;
$break-xl: 1080px;
$break-xxl: 1280px;
$break-xxxl: 1440px;

@mixin break-xss() {
	@media (min-width: #{ ($break-xxs) }) {
		@content;
	}
}

@mixin break-xs() {
	@media (min-width: #{ ($break-xs) }) {
		@content;
	}
}

@mixin break-s() {
	@media (min-width: #{ ($break-s) }) {
		@content;
	}
}

@mixin break-m() {
	@media (min-width: #{ ($break-m) }) {
		@content;
	}
}

@mixin break-l() {
	@media (min-width: #{ ($break-l) }) {
		@content;
	}
}

@mixin break-xl() {
	@media (min-width: #{ ($break-xl) }) {
		@content;
	}
}

@mixin break-xxl() {
	@media (min-width: #{ ($break-xxl) }) {
		@content;
	}
}

@mixin break-xxxl() {
	@media (min-width: #{ ($break-xxxl) }) {
		@content;
	}
}
