
@keyframes vaultpress {
	100% {
		stroke-dasharray: 1600;
		stroke-dashoffset: 0;
		stroke-width: 2px;
	}
}

.vaultPress {
	background: #e23a39;
	overflow: hidden;
	text-align: center;
	min-width: 442px;

	svg {
		margin: 48px;
		width: 250px;
	}

	path {
		animation-name: vaultpress;
		animation-duration: 5s;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-play-state: paused;
		fill: transparent;
		stroke-dasharray: 475;
		stroke-dashoffset: -950;
		stroke-width: 0;
		stroke: #fff;
	}

	&:hover path {
		animation-play-state: running;
	}
}