@import "../../../styles/functions/rem.scss";
@import "../../../styles/mixins/break.scss";

@keyframes vaultpress {
	100% {
		stroke-dasharray: 475;
		stroke-dashoffset: -950;
		stroke-width: 0;
	}
}

.vaultPress {
	background: #000;
	overflow: hidden;
	text-align: center;
	transition: all .15s ease-in-out;
	display: flex;
	align-items: center;
	
	@include break-m {
		max-width: rem( 442px );		
	}

	svg {
		margin: rem( 48px ) 0;
		width: 100%;
	}

	path {
		animation-name: vaultpress;
		animation-duration: 5s;
		animation-direction: alternate;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-play-state: paused;
		fill: transparent;
		stroke-dasharray: 1600;
		stroke-dashoffset: 0;
		stroke-width: 2px;
		stroke: #fff;
	}

	&:hover {
		background: #e23a39;

		& path {
			animation-play-state: running;
		}
	}
}