.centered {
  margin: 0 auto;
}

.xs {	max-width: var( --layout-width-xs ); }
.s {	max-width: var( --layout-width-s ); }
.m {	max-width: var( --layout-width-m ); }
.l { max-width: var( --layout-width-l ); }
.xl { max-width: var( --layout-width-xl ); }