.text {
	font-family: var( --font-family_sans );
	font-size: 14px;
	line-height: 1.5;
	
	a {
		text-decoration: underline;
	}
}

.isBig {
	font-size: 24px;
}

.caption {
	font-family: var( --font-family_mono );
	font-size: 12px;
	margin: 0;
}