.text {
	font-family: var( --font-family_sans );
	font-size: var( --font-size-m );
	line-height: 1.5;
	
	a {
		text-decoration: underline;
	}
}

.isBig {
	font-size: var( --font-size-xl );
}

.caption {
	font-family: var( --font-family_mono );
	font-size: var( --font-size-s );
	margin: 0;
}