@import "../../../styles/functions/rem.scss";
@import "../../../styles/mixins/break.scss";

$speed: .15s;

.container.container {
	background: #000;
	transition: all $speed ease-in-out;
	min-width: rem( 100px );
	max-width: rem( 360px );
	filter: grayscale(100%);

	&:hover {
		background: #fff;
		filter: grayscale(0);

		.rectangle {
			fill: #001611;
		}

		.gradient {
			opacity: 1;
		}
	}

	@include break-xs {
		width: rem( 360px );
	}
}

.rectangle {
	fill: #000;
	transition: all .5s ease-in-out;
}

.gradient {
	opacity: 0;
	transition: all $speed ease-in-out;
}