$speed: .15s;

.container.container {
	background: #000;
	transition: all $speed ease-in-out;
	min-width: 100px;
	max-width: 360px;
	filter: grayscale(100%);

	&:hover {
		background: #fff;
		filter: grayscale(0);

		.rectangle {
			fill: #001611;
		}

		.gradient {
			opacity: 1;
		}
	}

	@media ( min-width: 480px ) {
		width: 360px;
	}
}

.rectangle {
	fill: #000;
	transition: all .5s ease-in-out;
}

.gradient {
	opacity: 0;
	transition: all $speed ease-in-out;
}