.container {
	background: #000;
	display: flex;
	align-items: center;
	transition: all .15s ease-in-out;

	&:hover {
		background: #3f5975;
	}

	@media ( max-width: 480px ) {
		width: 100%;
	}
}

.anvil {
	margin: 0 auto;
	max-width: 360px;
	min-width: 80px;

	@media ( min-width: 480px ) {
		width: 360px;
	}
}