@import "../../styles/functions/rem.scss";

.sourceBadge {
	position: absolute;
		bottom: var( --unit-3 );
		right: rem( 36px );

	a {
		display: inline-block;
		padding: var( --unit-1 ) rem( 12px );
	}
}