@import "../../styles/functions/rem.scss";

.flex {
	display: block;
	
	@media ( min-width: 1200px ) {
		margin: 0 rem( -24px );
		display: flex;
		max-width: 1440px;
		margin: 0 auto;
	}
}

.flexItem {
	margin: 0 auto var( --unit-6 );

	@media ( min-width: 1200px ) {
		margin: var( --unit-6 );
	}
}
