.flex {
	margin: 0 -24px;
	display: block;
	
	@media ( min-width: 1200px ) {
		display: flex;
		max-width: 1440px;
		margin: 0 auto;
	}
}

.flexItem {
	margin: 0 auto;

	@media ( min-width: 1200px ) {
		margin: 24px;
	}
}
