@font-face {
	font-family: 'LacedRegular';
	src: url('/fonts/laced/laced-regular-webfont.eot');
	src: url('/fonts/laced/laced-regular-webfont.eot?#iefix') format('embedded-opentype'),
			 url('/fonts/laced/laced-regular-webfont.woff') format('woff'),
			 url('/fonts/laced/laced-regular-webfont.ttf') format('truetype'),
			 url('/fonts/laced/laced-regular-webfont.svg#LacedRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

.laced {
	padding: 48px;
	background: #000;
	color: #fff;
	border: none;
	width: 100%;
	transition: all .15s ease-in-out;
	font-family: 'LacedRegular',"pragmatica-web", sans-serif;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 0.7945205479;
	word-break: break-all;

	@media ( min-width: 480px ) {
		font-size: 56px;
	}

	@media ( min-width: 800px ) {
		font-size: 72px;

		max-width: 50%;
	}

	@media ( min-width: 1400px ) {
		font-size: 80px;
	}

	&:hover,
	&:focus {
		background: #222;
	}

	&:focus {
		background: #fff;
		color: #000;
		text-transform: lowercase;
		outline: none;
	}
}