.heading {
	font-weight: 400;
}

h1.heading {
	text-transform: uppercase;
	font-size: var( --font-size-xxl );
	font-weight: 400;
}

h2.heading {
	text-transform: uppercase;
	font-size: var( --font-size-xl );
	font-weight: 400;
}

h3.heading {
	text-transform: uppercase;
	font-size: var( --font-size-l );
	font-weight: 400;
}

h4.heading {
	font-size: var( --font-size-m );
	font-weight: 500;
}

h5.heading {
	text-transform: uppercase;
	font-size: var( --font-size-s );
	font-weight: 600;
}
