@import "../styles/mixins/break.scss";

.container {
	background: #000;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	@include break-m {
		justify-content: space-between;
	}

	> div {
		flex-grow: 1;

		@include break-m {
			max-width: 50%;
		}
	}
}

.discoBars {
	background: #2c3341;
}
