
/*
https://fonts.google.com/share?selection.family=IBM%20Plex%20Mono:ital,wght@0,400;0,500;0,700;1,400;1,500%7CIBM%20Plex%20Sans%20Condensed:wght@400;500;600%7CIBM%20Plex%20Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500

Families/weights in use:

Sans - 300, 400, 500
Condensed - 400, 500, 600
Mono - 400, 700
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500&family=IBM+Plex+Sans+Condensed:wght@400;500;600&family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


@import "./functions/rem";

:root {
	--font-family_condensed: 'IBM Plex Sans Condensed', sans-serif;
	--font-family_mono: "IBM Plex Mono", monospace;
	--font-family_sans: 'IBM Plex Sans', sans;
	--font-family_system: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen;

	--font-size-s: #{ rem( 12px ) };
	--font-size-m: #{ rem( 14px ) };
	--font-size-l: #{ rem( 18px ) };
	--font-size-xl: #{ rem( 24px ) };
	--font-size-xxl: #{ rem( 40px ) };

	--layout-width-xs: #{ rem( 320px ) };
	--layout-width-s: #{ rem( 360px ) };
	--layout-width-m: #{ rem( 440px ) };
	--layout-width-l: #{ rem( 800px ) };
	--layout-width-xl: #{ rem( 1244px ) };

	--unit-base: #{ rem( 8px ) }; // 8px
	--unit-1: var( --unit-base );
	--unit-2: calc( 2 * var( --unit-base ) ); // 16px
	--unit-3: calc( 3 * var( --unit-base ) ); // 24px
	--unit-4: calc( 4 * var( --unit-base ) ); // 32px
	--unit-5: calc( 5 * var( --unit-base ) ); // 40px
	--unit-6: calc( 6 * var( --unit-base ) ); // 48px
	--unit-7: calc( 7 * var( --unit-base ) ); // 56px
	--unit-8: calc( 8 * var( --unit-base ) ); // 64px
	--unit-9: calc( 9 * var( --unit-base ) ); // 72px
	--unit-10: calc( 10 * var( --unit-base ) ); // 80px

	--color-dark: #000;
	--color-light: #fff;

	// @media (prefers-color-scheme: dark) {
	// 	--color-dark: #fff;
	// 	--color-light: #000;
	// }
}

html,
body {
	background: var( --color-light);
	color: var( --color-dark);
	padding: 0;
	margin: 0;
	font-family: var( --font-family_sans )
}

.description {
	text-align: center;
	margin-bottom: 10vh;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		text-decoration: underline;
	}
}

* {
	box-sizing: border-box;
}

strong {
	font-weight: 500;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}


.videoWrapper {
	position: relative;

	&::before {
		content: "";
		display: block;
		padding-top: 56.25%;
	}
}

.videoIframe {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
    border: 0;
}
