@import "../../styles/functions/rem.scss";

// .fancyLink,
// .fancyLink a {
// 	position: relative;
// 	z-index: 1;

// 	&:before {
// 		$x-padding: 10px;
// 		$y-padding: 6px;
// 		content: "";
// 		position: absolute;
// 		top: -1 * $y-padding + 1;
// 		left: -1 * $x-padding;
// 		width: calc( 100% + #{ $x-padding * 2 } );
// 		height: calc( 100% + #{ $y-padding * 2 } );
// 		background: #D8FFDE;
// 		z-index: -1;
// 		// transition: all .3s ease-in-out;
// 		transition: all .125s ease-in-out;
// 		// transform: translateX( -85vw );
// 		transform: scale( 0 );
// 	}
	
// 	&:hover {
// 		&:before {
// 			// transform: translateX( 0vw );
// 			transform: scale( 1 );
// 		}
// 	}
// }

.isInverted {
	box-shadow: 0 0 0 4px transparent;

	&:hover,
	&:focus {
		background: var( --color-dark );
		color: var( --color-light );
		box-shadow: rem( 4px ) 0 0 rem( 4px ) var( --color-dark ), rem( -4px ) 0 0 rem( 4px ) var( --color-dark );
	}
}

.hasSurprise {
	--surprise-content: "😀";
	position: relative;
	&::before,
	&::after {
		position: absolute;
		top: rem( 2px );
		right: 100%;
		margin: 0 rem( 12px );
		content: var( --surprise-content );
		display: inline-block;
		font-size: 1em;
    line-height: 1em;
		transform: rotateZ(90deg) scale(0);
		transition: all .15s ease-in-out;
		transform-origin: center center;
	}

	&:after {
		right: auto;
		left: 100%;
		transform: rotateZ(90deg) rotateX( 180deg ) scale(0);
	}

	&:hover,
	&:focus, {
		&::before {
			transform: rotateZ(0) scale(1.5);
		}
		&::after {
			transform: rotateZ(180deg) rotateX( 180deg ) scale(1.5);
		}
	}
}